<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transocean Document Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
    <div class="company-logo">
        <img src="/static/Transocean Logo_PMS 7708.png" alt="Transocean Logo">
    </div>
    <div class="side-menu-trigger"></div>
    <div class="side-menu">
        <div class="menu-content">
            <div class="new-chat" >Start a new chat</div>
            <div class="previous-chats">
                <div class="chat-item">Previous Chat 1</div>
                <div class="chat-item">Previous Chat 2</div>
                <div class="chat-item">Previous Chat 3</div>
            </div>
            <div class="login-button">Logout</div>
        </div>
    </div>
    <div class="chat-container">
        <div id="welcome-screen" class="welcome-screen">
            <img src="/static/assistant-logo.png" alt="Logo" class="welcome-logo">
            <h1>Transocean Document Analyzer</h1>
            <p style="line-height: 2rem;">Analyzes PDFs files, outputting equivalent terms in .csv and table format, <br> 
                replacing missing values with 'N/A'.

            </p>
        </div>
        <div id="chat-log"></div>
        <div class="input-container">
            <label for="file-input" class="file-input-label">
                <i class="fas fa-paperclip"></i>
            </label>
            <input type="file" id="file-input" accept=".pdf,.js" hidden>
            <div class="input-wrapper">
                <div id="file-preview"></div>
                <textarea id="user-input" placeholder="Message Transocean Document Analyzer" rows="1"></textarea>
            </div>
            <button id="submit-btn">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
    <div id="loader" class="loader"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>